<main>
    <!-- text -->
    <div class="pb-8 mx-4 md:px-24 text-center">
        <h1 class="text-3xl font-bold">Les produits ordinaires ne valent pas la peine d'etre vecu</h1>
        <p class="text-yellow-100">Decouvrez nos produis ordinaires les plus rafines, tries sur le volet</p>
    </div>
    <!-- products -->
    <article class="grid grid-col mx-4 md:grid-cols-3 md:px-24 gap-8 pb-16">
        <div *ngFor="let product of products" class="bg-blue-950 rounded shadow-white shadow-sm">
            <img [src]="product.image" alt="product.alt" class="w-full h-56 rounded shadow-yellow-300 shadow-sm">
            <div class="pl-8 space-y-2 pb-4 shadow">
                <h4 class="font-bold">{{ product.title }}</h4>
                <p class="text-yellow-300">{{ product.price }}</p>
                <button class="bg-yellow-600 text-black py-1 px-3 hover:bg-yellow-700 transition-none">
                    {{ product.textBtn }}
                </button>
            </div>
        </div>
    </article>

    
</main>