<main>
    <!-- text -->
    <div class="pb-8 mx-4 md:px-24 text-center">
        <h1 class="text-3xl font-bold">Les produits ordinaires ne valent pas la peine d'etre vecu</h1>
        <p class="text-yellow-100">Decouvrez nos produis ordinaires les plus rafines, tries sur le volet</p>
    </div>
    <!-- products -->
    <article class="grid grid-col mx-4 md:grid-cols-4 md:px-24 gap-8 pb-16">
        <div *ngFor="let product of products" class="bg-blue-950 rounded shadow-white shadow-sm">
            <img [src]="product.image" [alt]="product.alt" class="w-full h-56 rounded shadow-yellow-300 shadow-sm">
            <div class="pl-8 space-y-2 py-2 shadow">
                <h4 class="font-bold">{{ product.title }}</h4>
                <p class="text-yellow-300">{{ product.price }}</p>
                <button class="bg-yellow-600 text-black py-1 px-3 hover:bg-yellow-700 transition-none">
                    {{ product.textBtn }}
                </button>
            </div>
        </div>
    </article>

    <!-- FAQ -->
    <article class="flex">
        <div *ngFor="let faq of faqs" 
            class="flex flex-col shadow-sm shadow-gray-700 rounded">
            <h2>
                {{ faq.question }} 
                <span class="cursor-pointer" 
                [ngClass]="{'bi bi-minus':isExpanded, 'bi bi-plus':!isExpanded}"
                (click)="toggleExpanded()"></span>
            </h2>
            <p *ngIf="isExpanded">
                {{ faq.answer }}
            </p>
        </div>
        <!-- image -->
        <div>
            <img src="/assets/images/allia.jpeg" alt="" class="w-96 h-96 shadow shadow-white">
        </div>
    </article>
</main>