<main class="flex flex-col justify-around md:flex-row pb-24 mx-4">
    <!-- left section -->
    <section>
        <!-- text -->
        <div class="space-y-4 text-yellow-100">
            <h2 class="text-3xl font-bold">AlliaStore vous facilite l'Achat <br> et l'Expedition en Ligne</h2>
            <p>Achetez chez AlliaStore, nous validons et expedions vos commandes <br> partout au Nord-Kivu.</p>
            <button class="bg-yellow-600 text-black px-4 rounded-lg hover:bg-yellow-700 transition">Contactez-nous</button>
            <!-- text guide -->
            <div class="flex space-x-4">
                <img src="/assets/images/allia.jpeg" alt="" class="w-14 h-16 rounded">
                <div class="flex flex-col">
                    <p class="text-sm">Comment faire le commande?</p>
                    <h3 class="text-lg">Envoyez votre panier, <br> nous nous occupons du reste</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- right section -->
    <section>
        <div>
            <img src="/assets/images/allia.jpeg" alt="" class="w-96 h-96 shadow shadow-white">
        </div>
    </section>
</main>