<nav class="pb-24">
    <!-- navlinks -->
    <div class="flex flex-col md:flex-row justify-around py-4 shadow-sm shadow-gray-700 text-yellow-200">
        <!-- principle links -->
        <div class="flex flex-col md:flex-row space-x-2">
            <a href="#" class="hover:text-yellow-700">ACCUEIL</a>
            <a href="#" class="hover:text-yellow-700">QUI SOMMES-NOUS?</a>
            <a href="#" class="hover:text-yellow-700">GALLERIE</a>
        </div>
        <!-- logo -->
        <div>
            <a>
                <img src="/assets/images/logo.jpeg" 
                    alt="AlliaStore logo" 
                    class="w-24 h-16 cursor-pointer">
             </a>
        </div>
        <!-- other links -->
        <div class="flex flex-col md:flex-row space-x-2">
            <a href="#" class="hover:text-yellow-700">BOUTIQUE</a>
            <a href="#" class="hover:text-yellow-700 pr-4">CONTACT</a> |
            <div class="flex space-x-8 px-4 text-white">
                <a><i class="bi bi-search cursor-pointer hover:text-yellow-700"></i></a>
                <a><i class="bi bi-cart cursor-pointer hover:text-yellow-700"></i></a>
            </div>
        </div>
    </div>
</nav>